In [1]:
#importing libraries
import pandas as pd
import mysql.connector
import numpy as np

In [2]:
# csv to dataframe
df_buses_1=pd.read_csv(r"C:\Users\admin\OneDrive\Desktop\Redbus1\Data-Scraping-with-Selenium-Dynamic-Filtering-using-Streamlit\CSV buses\df_buses_1.csv")
df_buses_2=pd.read_csv(r"C:\Users\admin\OneDrive\Desktop\Redbus1\Data-Scraping-with-Selenium-Dynamic-Filtering-using-Streamlit\CSV buses\df_buses_2.csv")
df_buses_3=pd.read_csv(r"C:\Users\admin\OneDrive\Desktop\Redbus1\Data-Scraping-with-Selenium-Dynamic-Filtering-using-Streamlit\CSV buses\df_buses_3.csv")
df_buses_4=pd.read_csv(r"C:\Users\admin\OneDrive\Desktop\Redbus1\Data-Scraping-with-Selenium-Dynamic-Filtering-using-Streamlit\CSV buses\df_buses_4.csv")
df_buses_5=pd.read_csv(r"C:\Users\admin\OneDrive\Desktop\Redbus1\Data-Scraping-with-Selenium-Dynamic-Filtering-using-Streamlit\CSV buses\df_buses_5.csv")
df_buses_6=pd.read_csv(r"C:\Users\admin\OneDrive\Desktop\Redbus1\Data-Scraping-with-Selenium-Dynamic-Filtering-using-Streamlit\CSV buses\df_buses_6.csv")
df_buses_7=pd.read_csv(r"C:\Users\admin\OneDrive\Desktop\Redbus1\Data-Scraping-with-Selenium-Dynamic-Filtering-using-Streamlit\CSV buses\df_buses_7.csv")
df_buses_8=pd.read_csv(r"C:\Users\admin\OneDrive\Desktop\Redbus1\Data-Scraping-with-Selenium-Dynamic-Filtering-using-Streamlit\CSV buses\df_buses_8.csv")
df_buses_9=pd.read_csv(r"C:\Users\admin\OneDrive\Desktop\Redbus1\Data-Scraping-with-Selenium-Dynamic-Filtering-using-Streamlit\CSV buses\df_buses_9.csv")
df_buses_10=pd.read_csv(r"C:\Users\admin\OneDrive\Desktop\Redbus1\Data-Scraping-with-Selenium-Dynamic-Filtering-using-Streamlit\CSV buses\df_buses_10.csv")

Final_df=pd.concat([df_buses_1,df_buses_2,df_buses_3,df_buses_4,df_buses_5,df_buses_6,
                    df_buses_7,df_buses_8,df_buses_9,df_buses_10],ignore_index=True)
Final_df

,Bus_name,Bus_type,Start_time,End_time,Total_duration,Price,Seats_Available,Ratings,Route_link,Route_name
0,KSRTC (Kerala) - 581,Super Express Non AC Seater Air Bus (2+2),10:03,18:48,08h 45m,INR 469,8 Seats available,3.9\n72,https://www.redbus.in/bus-tickets/bangalore-to...,Bangalore to Kozhikode
1,KSRTC (Kerala) - 52,SWIFT-GARUDA A/C SEATER BUS,12:01,19:55,07h 54m,INR 627,18 Seats available,3.6\n96,https://www.redbus.in/bus-tickets/bangalore-to...,Bangalore to Kozhikode
2,KSRTC (Kerala) - 1378,AC MULTI AXLE,13:46,20:50,07h 04m,INR 729,18 Seats available,2.6\n22,https://www.redbus.in/bus-tickets/bangalore-to...,Bangalore to Kozhikode
3,KSRTC (Kerala) - 129,SWIFT-GARUDA A/C SEATER BUS,14:15,22:50,08h 35m,INR 627,21 Seats available,4.2\n69,https://www.redbus.in/bus-tickets/bangalore-to...,Bangalore to Kozhikode
4,KSRTC (Kerala) - 235,Swift Deluxe Non AC Air Bus (2+2),15:00,00:01,09h 01m,INR 620,27 Seats available,4.3\n9,https://www.redbus.in/bus-tickets/bangalore-to...,Bangalore to Kozhikode
...,...,...,...,...,...,...,...,...,...,...
3351,Shyamoli Paribahan Pvt Ltd,Scania Multi-Axle AC Semi Sleeper (2+2),13:00,18:00,05h 00m,INR 524,45 Seats available,3.7\n51,https://www.redbus.in/bus-tickets/kolkata-to-a...,Kolkata to Asansol (West Bengal)
3352,Express Line,Volvo A/C Seater (2+2),13:30,18:30,05h 00m,INR 524,44 Seats available,4.8\n83,https://www.redbus.in/bus-tickets/kolkata-to-a...,Kolkata to Asansol (West Bengal)
3353,SHYAMOLI Pvt. Ltd.(Karunamoyee),Volvo B11R Multi Axle Seater (2+2),14:00,19:00,05h 00m,INR 524,19 Seats available,4.1\n195,https://www.redbus.in/bus-tickets/kolkata-to-a...,Kolkata to Asansol (West Bengal)
3354,WBTC (CTC) HABRA-DIGHA via Bally - 26|12:45,Non AC Seater (2+3),12:45,15:40,02h 55m,INR 87,49 Seats available,3.8,https://www.redbus.in/bus-tickets/habra-to-kol...,Habra to Kolaghat
3355,WBTC (CTC) HABRA-DIGHA via Bally - 26|12:45,Non AC Seater (2+3),12:45,17:10,04h 25m,INR 149,49 Seats available,3.5,https://www.redbus.in/bus-tickets/habra-to-con...,Habra to Contai (Kanthi)

# Data cleaning

In [3]:
# data about the data
Final_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3356 entries, 0 to 3355
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Bus_name         3356 non-null   object
 1   Bus_type         3356 non-null   object
 2   Start_time       3356 non-null   object
 3   End_time         3356 non-null   object
 4   Total_duration   3356 non-null   object
 5   Price            3356 non-null   object
 6   Seats_Available  3356 non-null   object
 7   Ratings          3356 non-null   object
 8   Route_link       3356 non-null   object
 9   Route_name       3356 non-null   object
dtypes: object(10)
memory usage: 262.3+ KB

In [4]:
#convert prices to numeric
Final_df["Price"]=Final_df["Price"].str.replace("INR","")
Final_df["Price"]=Final_df["Price"].astype(float)
Final_df["Price"].fillna(0)

0       469.0
1       627.0
2       729.0
3       627.0
4       620.0
        ...
3351    524.0
3352    524.0
3353    524.0
3354     87.0
3355    149.0
Name: Price, Length: 3356, dtype: float64

In [5]:
#convert Ratings to numeric
Final_df["Ratings"]=Final_df["Ratings"].str.replace("New","")
Final_df["Ratings"]=Final_df["Ratings"].str.strip()
Final_df["Ratings"]=Final_df["Ratings"].str.split().str[0]
Final_df["Ratings"] = pd.to_numeric(Final_df["Ratings"], errors='coerce')
Final_df["Ratings"].fillna(0,inplace=True)

C:\Users\admin\AppData\Local\Temp\ipykernel_20980\2577861265.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  Final_df["Ratings"].fillna(0,inplace=True)

In [6]:
# info after the data type change
Final_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3356 entries, 0 to 3355
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Bus_name         3356 non-null   object
 1   Bus_type         3356 non-null   object
 2   Start_time       3356 non-null   object
 3   End_time         3356 non-null   object
 4   Total_duration   3356 non-null   object
 5   Price            3356 non-null   float64
 6   Seats_Available  3356 non-null   object
 7   Ratings          3356 non-null   float64
 8   Route_link       3356 non-null   object
 9   Route_name       3356 non-null   object
dtypes: float64(2), object(8)
memory usage: 262.3+ KB

In [7]:
Final_df = Final_df[Final_df["Price"] <= 7000]

In [8]:
# replacing the nan value
Final_df = Final_df.replace({np.nan: None})

In [9]:
# change dataframe to csv
path=r"C:\Users\admin\OneDrive\Desktop\Redbus1\Data-Scraping-with-Selenium-Dynamic-Filtering-using-Streamlit\Final_all_bussdetails_df.csv"
Final_df.to_csv(path,index=False)

# Create a mysql database

In [10]:
#sql connection
conn=mysql.connector.connect(host="localhost", user="root", password="Saivai_22",database="RED_BUS_DETAILS")
my_cursor = conn.cursor()
my_cursor.execute("CREATE DATABASE IF NOT EXISTS RED_BUS_DETAILS")

In [11]:
# Table Creation
my_cursor.execute('''CREATE TABLE IF NOT EXISTS bus_details(
                  ID INT AUTO_INCREMENT PRIMARY KEY,
                  Bus_name VARCHAR(255) NOT NULL,
                  Bus_type VARCHAR(255) NOT NULL,
                  Start_time VARCHAR(255) NOT NULL,
                  End_time VARCHAR(255) NOT NULL,
                  Total_duration VARCHAR(255) NOT NULL,
                  Price FLOAT NULL,
                  Seats_Available VARCHAR(255) NOT NULL,
                  Ratings Float NULL,
                  Route_link VARCHAR(255) NULL,
                  Route_name VARCHAR(255) NULL
                  )''')
print("Table Created successfully")

Table Created successfully

In [12]:
# SQL query to insert data into bus_details table
insert_query = '''INSERT INTO bus_details(
                    Bus_name,
                    Bus_type,
                    Start_time,
                    End_time,
                    Total_duration,
                    Price,
                    Seats_Available,
                    Ratings,
                    Route_link,
                    Route_name)
                  VALUES(%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)'''
data = Final_df.values.tolist()

#executing insert for each row in data list
my_cursor.executemany(insert_query, data)

conn.commit()

print("Values inserted successfully")

Values inserted successfully